<ol class="post-list list-group">
    {{#each posts as |post|}}
    <div class="card" style="width: 25rem;">  
        <li class="list-group-item">
    
            {{> post-info post}}
        
        </li>
    </div>
    {{/each}}
</ol>